.mainContainer {
  display: flex;
  position: fixed;
  justify-content: space-between;
  height: 95vh;
  width: 100vw;
  top: 81px;
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  width: 43.7%;
  padding: 0 2%;
}

.mapContainer {
  height: 100%;
  width: 56.3%;
  background-color: aqua;
}

.mainContentNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5%;
  align-items: center;
}

.rightButtonContainer {
  display: flex;
  justify-content: space-between;
  min-width: 40px;
}

.icons {
  height: 30px;
  width: 30px;
  cursor: pointer;
  padding: 20%;
}
.icons:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}
.title {
  font-weight: 600;
  font-size: 42px;
  margin: 20px 0;
}
