.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
  max-height: 40px;
  margin-top: 10px;
  font-size: 16px;
  padding: 2% 5%;
  margin-bottom: 5px;
}

.x {
  height: 15px;
  width: 15px;
}
.xContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  cursor: pointer;
}
.xContainer:hover {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.04);
}

.body {
  padding: 5% 5%;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d7d7d7;
  padding: 3% 5%;
}

.createButton:hover {
  background-color: black;
}

.createButton {
  color: #fff;
  font-weight: 800;
  width: 30%;
  height: 40px;
  border-radius: 8px;
  background-color: #222222;
  border: none;
  cursor: pointer;
}

.cancel {
  text-decoration: underline;
}

.cancelContainer {
  display: flex;
  border-radius: 8px;
  padding: auto;
  width: 20%;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cancelContainer:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
