.imgSlideShowContainer {
  min-height: 300px;
  min-width: 285px;
  max-width: 285px;

  border-radius: 15px;
  background-color: aqua;
  overflow: none;
}

.textContainer {
  padding-top: 5%;
  padding-left: 1%;
  cursor: pointer;
}
