.imgSlideShowContainer {
  height: 300px;
  width: 285px;
  max-width: 285px;
  cursor: pointer;

  border-radius: 15px;
  background-color: #d7d7d7;
  overflow: none;
}

.textContainer {
  padding-top: 4%;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.star {
  height: 14px;
  width: 12px;
  margin-right: 5px;
  padding-top: 2px;
}
