.mainContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0 20% 0 20%;
}
.photos {
  width: 100%;
  min-height: 560px;
  border-radius: 5px;
}

.nameHeading {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  height: 100px;
}

.bottomContainer {
  margin-top: 24px;
  padding-top: 24px;
  display: flex;
  justify-content: space-evenly;
  min-height: 900px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.formContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 900px;
}
.textContainer {
  height: 100%;
  width: 100%;
  min-height: 900px;
}

.reviewsContainer {
  margin-top: 24px;
  height: fit-content;
  min-height: 400px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
}
