.mainContainer {
  background-color: #fff;
  border: 1px solid black;
  padding: 24px;
  border-radius: 15px;
  height: 460px;
  width: 372px;
}

.formTop {
  display: flex;
  justify-content: space-between;
}

.calendars {
  display: flex;
  justify-content: space-between;

  border: 1px solid black;
  border-radius: 15px;
  min-height: fit-content;
  margin-bottom: 15px;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.bookingsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  cursor: pointer;
  border: 1px solid green;
  border-radius: 15px;
}
