.spotContainer {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 3%;
  display: flex;
  gap: 30px;
  width: 100%;
}
.imgSlideShowContainer {
  height: 200px;
  width: 40%;
  min-width: 300px;

  border-radius: 15px;
  background-color: #d7d7d7;
  overflow: none;
  margin-bottom: 3.2%;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
  position: relative;
  top: -30px;
}

.next,
.previous {
  display: flex;
  height: 20px;
  width: 20px;
  position: relative;
  height: 22px;
  width: 22px;
  padding: 4px;
  z-index: 10;
  cursor: pointer;

  justify-content: flex-end;
}

.nextContainer,
.previousContainer {
  position: relative;
  top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 244, 244, 0.7);
  border-radius: 15px;
  z-index: 10;
  height: 30px;
  width: 30px;
  visibility: hidden;
  cursor: pointer;
  margin-right: 10px;
}

.previousContainer {
  margin-left: 10px;
  margin-right: 0;
}

.nextContainer:hover,
.previousContainer:hover {
  background-color: rgba(248, 244, 244, 1);
}

.imgSlideShowContainer:hover .next,
.imgSlideShowContainer:hover .nextContainer,
.imgSlideShowContainer:hover .previous,
.imgSlideShowContainer:hover .previousContainer {
  visibility: visible;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 1.4rem;
}

.top,
.bottomContent {
  display: flex;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3.2%;
}

.star {
  height: 14px;
  width: 12px;
  margin-right: 5px;
  padding-top: 2px;
}

.heart {
  margin-left: 20px;
  height: 100%;
  cursor: pointer;
}
